body{
 background:skyblue;
}
*{box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
}

.buttonz{
  display: flex;
  justify-content: space-between;


}

.wrap{
  width:210px;
  margin:auto;
  height:auto;
  background:black;
  padding:15px;
  text-align: center;
  border-radius: 10px
}
[input type=text]{
width:180px;
padding:10px;
font-size:22px;
font-weight:bold;
margin-top:100px;
border-radius:5px;
display: flex;
}
#rem{
  width:180px;
}
